<!DOCTYPE html>
<html>
<head>
	<title>MCQ Practice Bank</title>
</head>
<body>
	<h2>MCQ Practice Bank</h2>
	<ul>
		<li>
			<strong>Anatomy MCQs</strong>
			<ul>
				<li><a href="/get_data?section=0&category=0">Multiple Choice (Type A)</a></li>
				<li><a href="/get_data?section=0&category=1">Multiple True/False (Type X)</a></li>
				<li><a href="/get_data?section=0&category=2">Relationship-Analysis (Type B)</a></li>
			</ul>
		</li>
		<li>
			<strong>Pathology MCQs</strong>
			<ul>
				<li><a href="/get_data?section=1&category=0">Multiple Choice (Type A)</a></li>
				<li><a href="/get_data?section=1&category=1">Multiple True/False (Type X)</a></li>
				<li><a href="/get_data?section=1&category=2">Relationship-Analysis (Type B)</a></li>
			</ul>
		</li>
		<li>
			<strong>Physiology MCQs</strong>
			<ul>
				<li><a href="/get_data?section=2&category=0">Multiple Choice (Type A)</a></li>
				<li><a href="/get_data?section=2&category=1">Multiple True/False (Type X)</a></li>
				<li><a href="/get_data?section=2&category=2">Relationship-Analysis (Type B)</a></li>
			</ul>
		</li>
		<li>
			<strong>Other MCQs</strong>
			<ul>
				<li><a href="get_data?section=3&category=0">Multiple Choice (Type A)</a></li>
				<li><a href="get_data?section=3&category=1">Multiple True/False (Type X)</a></li>
				<li><a href="get_data?section=3&category=2">Relationship-Analysis (Type B)</a></li>
			</ul>
		</li>
	</ul>

</body>
</html>